In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    'Числа': [1, 2, 3],
    'Строки': ['Один', 'Два', 'Три'],
    'Логические': [True, False, True]
})

print("Таблица DataFrame:\n", df)

Таблица DataFrame:
    Числа Строки  Логические
0      1   Один        True
1      2    Два       False
2      3    Три        True

In [5]:
print("Строка 'Числа':\n", df['Числа'])
print("Тип столбца 'Числа':\n", df['Числа'].dtype)

Строка 'Числа':
 0    1
1    2
2    3
Name: Числа, dtype: int64
Тип столбца 'Числа':
 int64

In [6]:
print("Строка 'Строки':\n", df['Строки'])
print("Тип столбца 'Строки':\n", df['Строки'].dtype)

print("\n\nСтрока 'Логические':\n", df['Логические'])
print("Тип столбца 'Логические':\n", df['Логические'].dtype)

Строка 'Строки':
 0    Один
1     Два
2     Три
Name: Строки, dtype: object
Тип столбца 'Строки':
 object


Строка 'Логические':
 0     True
1    False
2     True
Name: Логические, dtype: bool
Тип столбца 'Логические':
 bool

In [7]:
print("\nТипы данных всех столбцов:", df.dtypes)

Типы данных всех столбцов: Числа          int64
Строки        object
Логические      bool
dtype: object

In [10]:
s_numbers = pd.Series([10, 20, 30], name="Числа")
print("Тип данных Series 'Числа':\n",s_numbers)

Тип данных Series 'Числа':
 0    10
1    20
2    30
Name: Числа, dtype: int64

In [12]:
s_strings = pd.Series(["один", "два", "три"], name="Строки")
print("Тип данных Series 'Строки':\n",s_strings)

s_bools = pd.Series([True, False, True], name="Логические значения")
print("\n\nТип данных Series 'Логические значения (bool)':\n",s_bools)

Тип данных Series 'Строки':
 0    один
1     два
2     три
Name: Строки, dtype: object


Тип данных Series 'Логические значения (bool)':
 0     True
1    False
2     True
Name: Логические значения, dtype: bool

In [13]:
df = pd.DataFrame({"Числа": s_numbers, "Строки": s_strings, "Логические значения": s_bools})

print("DataFrame собранный из трех Series:\n", df)
print("\n\nТип данных результирующей таблицы:\n", df.dtypes)

DataFrame собранный из трех Series:
    Числа Строки  Логические значения
0     10   один                 True
1     20    два                False
2     30    три                 True


Тип данных результирующей таблицы:
 Числа                   int64
Строки                 object
Логические значения      bool
dtype: object

In [14]:
df = pd.DataFrame({'Name': ["alice", "BOB", "Charlie"]})
print("Исходная таблица (DataFrame):\n", df)

Исходная таблица (DataFrame):
       Name
0    alice
1      BOB
2  Charlie

In [15]:
df['Name'] = df['Name'].str.lower()
print("Таблица после преобразования:\n", df)

Таблица после преобразования:
       Name
0    alice
1      bob
2  charlie

In [16]:
print(df['Name'])

0      alice
1        bob
2    charlie
Name: Name, dtype: object

In [17]:
print(df['Name'].dtype)

object

In [18]:
df = pd.DataFrame({'Age': [25, 30, 35]})
print("Исходная таблица (DataFrame):\n", df)

Исходная таблица (DataFrame):
    Age
0   25
1   30
2   35

In [21]:
print(df['Age'].dtype)

int64

In [22]:
df['Age'] = df['Age'].astype(str)
print("Таблица после преобразования:\n", df)

Таблица после преобразования:
   Age
0  25
1  30
2  35

In [23]:
print(df['Age'].dtype)

object

In [25]:
df['Age'] = df['Age'].astype(int)
print("Таблица после обратного преобразования:\n", df)

print("\n\n\nТип данных колонки Age после обратного преобразования:\n", df['Age'].dtype)

Таблица после обратного преобразования:
    Age
0   25
1   30
2   35



Тип данных колонки Age после обратного преобразования:
 int64