In [1]:
# сделайте DataFrame с колонкой "Salary" со значениями [145000, 152000, 161000].
# 1) Преобразуйте их в строки вида "45000 руб." и сохраните в новой колонке.
# 2) Из полученных строк извлеките обратно числа и приведите их к типу int во второй новой колонке.


# используйте .astype(str) + конкатенацию; для извлечения - .str.replace(" руб.", "", regex=False) + .astype(int)
#            или .str.extract(r'(\d+)') + .astype(int).

In [2]:
# Постройте DataFrame с колонкой "URL" (например: ["https://site.org", "http://example.com", "https://docs.org"]).
# Отфильтруйте строки, где адрес оканчивается на ".org".


# примените булеву маску через .str.contains(r'\.org$', regex=True) и индексацию df[mask].

In [3]:
# Постройте DataFrame с колонкой "Record" со строками формата "id=105; user=Alice; score=92".
# Извлеките user и score в отдельные колонки (user — строка, score — число).


# используйте .str.extract(r'user=([^;]+);\s*score=(\d+)'), затем для score — .astype(int).

In [4]:
# создайте Series со значениями [5, 10, 15]. Добавьте в конец значения [20, 25],
# а затем добавьте значение [0] в начало. Перенумеруйте индексы по порядку.


# объединяйте серии через pd.concat([s, pd.Series([...])], ignore_index=True);
#            для добавления в начало — pd.concat([pd.Series([0]), s], ignore_index=True).

In [5]:
# создайте DataFrame с колонками "Name", "Age" и тремя строками.
# Добавьте сразу две новые строки с теми же колонками.


# сформируйте отдельный DataFrame с новыми строками и объедините через pd.concat([...], ignore_index=True).

In [6]:
# создайте Series с числовыми значениями (например, [2, 4, 1, 5, 3]) и постройте линейный график.
# Добавьте заголовок и подписи осей.


# используйте .plot(kind='line'), затем plt.title(...), plt.xlabel(...), plt.ylabel(...), plt.show().

In [7]:
# создайте DataFrame с тремя числовыми колонками одинаковой длины (например, sales_A, sales_B, sales_C).
# Постройте "стековую" столбчатую диаграмму (stacked bar) для сравнения вкладов по строкам.

# df.plot(kind='bar', stacked=True); дополнительно подпишите оси и легенду (plt.xlabel, plt.ylabel, plt.legend).

In [8]:
# создайте словарь "product" с полями: name, price, qty. Обновите price (новым значением),
# добавьте булев ключ in_stock и выведите все ключи и значения словаря.


# используйте присваивание product['key'] = value или product.update(...); для просмотра — .keys(), .values(), .items().

In [9]:
# преобразуйте список словарей вида [{'City': 'Moscow', 'Population': 12.6}, ...] в DataFrame.
# Сделайте 'City' индексом и отсортируйте по 'Population' по убыванию.


# pd.DataFrame(list_of_dicts); затем .set_index('City') и .sort_values('Population', ascending=False).

In [10]:
# создайте DataFrame с колонками "Name" и "BirthYear". Добавьте вычисляемую колонку "Age" как 2025 - BirthYear.


# используйте арифметику по столбцам (df['Age'] = 2025 - df['BirthYear']) или метод .assign(Age=...).

In [ ]:
# сохраните произвольный DataFrame в Excel (лист "Data"), затем прочитайте его обратно в DataFrame.
# После этого сохраните те же данные в CSV (без индекса) и JSON (orient='records'), прочитайте оба файла обратно.
# На каждом шаге выводите форму и типы данных.


# .to_excel(path, index=False, sheet_name='Data') и pd.read_excel(..., sheet_name='Data');
#            .to_csv(path, index=False) и pd.read_csv(...);
#            .to_json(path, orient='records', force_ascii=False) и pd.read_json(path, orient='records').